{% extends "layout.twig" %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Signin</li>
    </ol>
  </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm">
              <h1>New article</h1>
              <a class="btn btn-primary" href="{{path_for('articles')}}" role="button">
                <ion-icon name="arrow-undo-outline"></ion-icon> Back</a>
            </div>
            <div class="col-sm">
                <form method="post" action="">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter title">
                      <small id="titleHelp" class="form-text text-muted">Required Article title</small>
                    </div>
                    <div class="form-group">
                        <label for="description">Article description</label>
                        <input type="text" name="description" class="form-control" id="title" aria-describedby="descriptionHelp" placeholder="Enter description">
                        <small id="descriptionHelp" class="form-text text-muted">Type short resume of article</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Article body</label>
                        <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <ion-icon name="save-outline"></ion-icon> Save
                    </button>
                  </form>
            </div>
          </div>
    </div>
{% endblock %}